apiVersion: v1
kind: Secret
metadata:
  name: {{ prometheus_secret_name }}
  namespace: {{ namespace }}
  labels:
    mobile: enabled
    serviceName: metrics
    serviceInstanceID: '{{_apb_service_instance_id}}'
stringData:
  name: {{ prometheus_secret_name }}
  type: {{ prometheus_secret_name }}
  uri: https://{{ prometheus_route.route.spec.host }}
